body {
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

#contenedor {
    height: auto;
    width: 500px;
    background-color: white;
    color: black;
    border: 2px solid;
    border-radius: 0px;
}

h2 {
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 0;
    width: 500px;
    background-color: rgb(30, 73, 73);
}

div {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    background-color: black;
    border-radius: 20px;
    justify-content: center;
}

.nuevo {
    width: auto;
}